
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


$datepicker__background-color: #000000 !default;
$datepicker__border-color: #00000075 !default;
$datepicker__highlighted-color: #4dd859 !default;
$datepicker__muted-color: #9c1a1a !default;
$datepicker__selected-color: #000000 !default;
$datepicker__text-color: rgb(255, 255, 255) !default;
$datepicker__header-color: rgb(255, 255, 255) !default;
$datepicker__navigation-disabled-color: #9c1a1a !default;

$datepicker__border-radius: 5px !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 1rem !default;
$datepicker__font-family: 'Source Sans Pro', sans-serif !default;
$datepicker__item-size: 2rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-button-size: 30px !default;
$datepicker__triangle-size: 20px !default;